
  <footer class="footer">
    <div class="footer-content">
      <div class="footer-links">
        <a [routerLink]="'/feedback'" class="footer-link">Contact Us</a>
        <a [routerLink]="'/faqs'" class="footer-link">FAQs</a>
        <a [routerLink]="'/about'" class="footer-link">About Us</a>
        <a [routerLink]="'/privacy'" class="footer-link">Privacy Policy</a>
        <a [routerLink]="'/terms'" class="footer-link">Terms of Service</a>
      </div>
      <div class="footer-info">
        <p>&copy; 2025 Hildesheimer Geschmack. All rights reserved.</p>
      </div>
    </div>
  </footer>
